.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;

  nav a {
    display: inline-block;
    text-decoration: none;
    margin-left: 1rem;
  }
  button {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
  }
}
